<div class="flex flex-col flex-auto w-full min-w-0">
    <!-- Header -->
    <mat-toolbar color="primary" class="sticky top-0 mat-elevation-z6 z-50" style="padding: 0">
        <div class="flex justify-between items-center w-full max-w-screen-lg mx-auto px-6">
            <a href="/">Top Rated Movies</a>
            <button mat-icon-button matTooltip="Filter by release years" aria-label="Filter icon">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- Main Content -->
    <div class="p-6 w-full max-w-screen-lg mx-auto">
    <router-outlet></router-outlet>
    </div>
</div>